p {
    margin-top: 5px;
    margin-bottom: 2px;
}

.full-witdh {
    width: 100%;
}

.flex-column {
    align-self: flex-start;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.color {
    width: 45px;
}