<p>{{ label }}</p>
<div>
    <div class="flex-line">
    	<div nz-col nzSpan="10">
      		<p>Cima</p>
    	</div>
      	<div nz-col nzSpan="14" class="space-between">
          	<nz-input-number
              	class="width-60"
              	(ngModelChange)="onChangeValue($event, 't')"
              	[(ngModel)]="top"
              	[nzMin]="0">
          	</nz-input-number>
        	<nz-select
              	class="width-60"
              	[(ngModel)]="topUnit"
              	(ngModelChange)="onChangeUnit($event, 't')">
              	<nz-option
                  	*ngFor="let choice of unitChoices"
                  	[nzValue]="choice['value']"
                  	[nzLabel]="choice['label']">
              	</nz-option>
          	</nz-select>
      	</div>
  	</div>
</div>
