.full-witdh {
  width: 100%;
}

p {
  margin-top: 5px;
  margin-bottom: 2px;
}

.width-60 {
  width: 60px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-line {
  display: flex;
}
