.full-witdh {
  width: 100%;
}

p {
  margin-top: 5px;
  margin-bottom: 2px;
}

.width-60 {
  width: 60px;
}

.group
group {
  display: flex;
  justify-content: space-around;
}

.flex-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 18px;
  margin: 5px;
}
