<app-panel>
    <slot>
        <app-select-input 
            label="Direção de alinhamento" 
            [(value)]="values.flexDirection" 
            [choices]="cssValues.flexDirection">
        </app-select-input>
        <app-select-input 
            label="Alinhamento Vertical" 
            [(value)]="values.alignItems" 
            [choices]="cssValues.alignItems">
        </app-select-input>
        <app-select-input 
            label="Alinhamento Horizontal" 
            [(value)]="values.justifyContent" 
            [choices]="cssValues.justifyContent">
        </app-select-input>
        <app-slider-input 
            label="Altura" 
            [(value)]="values.height" 
            [(valuePercent)]="values.heightPercent" 
            [(unit)]="values.heightUnit"
            [unitChoices]="cssValues.units">
        </app-slider-input>
        <app-slider-input 
            label="Largura" 
            [(value)]="values.width"
            [(valuePercent)]="values.widthPercent"
            [(unit)]="values.widthUnit"
            [unitChoices]="cssValues.units">
        </app-slider-input>
        <app-select-input 
            label="Estilo da Fonte" 
            applyPreviewStyle="font-family"
            [(value)]="values.fontFamily"
            [choices]="cssValues.fonts">
        </app-select-input>
        <app-slider-input 
            label="Tamanho da Fonte"
            [(value)]="values.fontSize"
            [(valuePercent)]="values.fontSizePercent"
            [(unit)]="values.fontSizeUnit"
            [unitChoices]="cssValues.fontUnits">
        </app-slider-input>
        <app-select-input 
            label="Estilo da Fonte"
            applyPreviewStyle="font-style"
            [(value)]="values.fontStyle" 
            [choices]="cssValues.fontStyle">
        </app-select-input>

    </slot>
</app-panel>

