<router-outlet></router-outlet>

<!-- <div class="sidebar sidebar-left" [ngClass]="{'sidebar-left-collapsed' : !expanded}">
    <button
    class="sidebar-btn-left"
    [ngClass]="{'sidebar-btn-left-collapsed' : !expanded}"
    (click)="change()">
        <ng-container *ngIf="expanded; else elseTemplate">
            <em nz-icon nzType="step-backward" nzTheme="outline"></em>    
        </ng-container>
        <ng-template #elseTemplate>
            <em nz-icon nzType="step-forward" nzTheme="outline"></em>    
        </ng-template>
    </button>
</div> -->