.full-witdh {
    width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

p {
    margin-top: 5px;
    margin-bottom: 2px;
}

.half-left {
    width: 60px;
}

.half-right {
    width: 60px;
}
