<div class="panel" #myPanel>
    <div class="toolbar"
        (dblclick)="resetPosition()"
        (mousemove)="move($event)"
        (mousedown)="startDragPanel($event)"
        (mouseup)="endDragPanel($event)"
        (mouseover)="endDragPanel($event)"
    >
        <div class="half-left">
            <em 
                class="toolbar-icon" 
                nz-icon nzType="drag"
                nzTheme="outline">
            </em>
        </div>
        <div class="half-right">
            <em
                *ngIf="!collapsed; else collapsedTemplate"
                (click)="setCollapse(true)"
                class="toolbar-hide" 
                nz-icon nzType="caret-up"
                nzTheme="outline">
            </em>
            <ng-template #collapsedTemplate>
                <em
                    (click)="setCollapse(false)"
                    class="toolbar-hide" 
                    nz-icon nzType="caret-down"
                    nzTheme="outline">
                </em>
            </ng-template>
        </div>
    </div>
    <div class="body" [class.hide]="collapsed">
        <ng-content select="slot"></ng-content>
    </div>
</div>